body > header, body > footer, body > #container {
    width: 93.75%;
    margin-left: auto;
    margin-right: auto;
}

#container > nav {
    float: left;
    width: 18.75%;
}

#container > main {
    margin-left: 19.791667%;
    width: 80.208333%;
}

body {
    font: normal 100%;
}

#container > main h1 {
    font-size: 1.5em;
}

@media (max-width: 640px){
    
    #container > nav {
        float: none;
        width: 100%
    }
    
    #container > main {
        margin-left: 0;
        width: 100%;
    }
    
}

img {
    max-width: 100%;
}